[Unit]
Description= run fast api server

After=network.target
After=roscore.service
Requires=kuka_image_gen.service
After=kuka_image_gen.service

[Service]
Type=simple
Restart=always
RestartSec=60s
User=kuka

OOMScoreAdjust=-100

ExecStart=/etc/systemd/system/gaka_web.sh


[Install]
WantedBy=multi-user.target 
