[Unit]
Description=IPFS daemon

After=network.target
Requires=kuka_eki_hw_interface.service
After=kuka_eki_hw_interface.service

[Service]
Type=simple
User=kuka

ExecStart=/usr/local/bin/ipfs daemon

[Install]
WantedBy=multiuser.target