[Unit]
Description=image generetion serivce

After=network.target
After=roscore.service


[Service]
Type=simple
Restart=always
RestartSec=15
User=kuka

Environment=ROS_MASTER_URI="http://localhost:11311"

OOMScoreAdjust=-100

ExecStart=/etc/systemd/system/image_gen.sh


[Install]
WantedBy=multi-user.target 

