[Unit]
Description=Mozilla start kiosk mode

After=network.target
Requires=kuka_moveit_config.service
After=kuka_moveit_config.service
Requires=gaka_web.service
After=gaka_web.service

[Service]
Type=simple
Restert=on-failure
RestartSec=10

Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/kuka/.Xauthority

User=kuka

ExecStartPre=/bin/sleep 15
ExecStart = /bin/bash -c 'firefox --kiosk 127.0.0.1:5000'

[Install]
WantedBy=multi-user.target
