<?xml version="1.0"?>
<launch>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_kr6_support)/config/preview-config.rviz" required="true" />
    <include file="$(find kuka_kr6_support)/launch/load_kr6r900sixx.launch" />

    <node name="frame_broadcaster" pkg="kuka_cv" type="FrameBroadcaster.py" output="screen">
        <rosparam param="camera_positon">[0.0625, 0, 0]</rosparam>
        <rosparam param="brush_position">[0.025, 0, 0]</rosparam>
    </node>
    <node name="canvas_transform_broadcaster" pkg="kuka_cv" type="CanvasTransformBroadcaster.py" output="screen" />
    <node name="kuka_cv" pkg="kuka_cv" type="StartCV.py" output="screen" />
    <node name="image_preprocessor" pkg="Picture-PreProcessing" type="painting_setup.py" output="screen"/>
</launch>
