<?xml version="1.0"?>
<launch>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
    <include file="$(find kuka_kr6_support)/launch/load_kr6r900sixx.launch" />

    <node name="camera_transform_broadcaster" pkg="kuka_cv" type="CameraTransformBroadcaster.py" output="screen">
        <rosparam param="camera_positon">[0.0625, 0, 0]</rosparam>
    </node>
</launch>
