<launch>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <!-- <param name="use_gui" value="true" /> -->
        <rosparam param="source_list">["/kuka_arm/joint_states"]</rosparam>
    </node>

    <!-- upoad URDF model to the parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find kuka_kr6_support)/urdf/kr6r900sixx_painter.xacro'"/>

    <!-- start robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kuka_kr6_support)/config/preview-config.rviz" required="true" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" /> -->

    <!-- <node name="image_preprocessor" pkg="Picture-PreProcessing" type="painting_setup.py" output="screen"/> -->
</launch>